<?xml version="1.0"?>
<!--
  Дополнительные сведения по настройке приложения ASP.NET см. по ссылке
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="AdminBDSmenaConnectionString" connectionString="Data Source=10.21.168.42;Initial Catalog=AdminBD;User ID=report;Password=159951" providerName="System.Data.SqlClient"/>
    <!--<add name="AdminBDConnectionString" connectionString="Data Source=10.21.168.42;Initial Catalog=AdminBD;User ID=sa;Password=159951" providerName="System.Data.SqlClient" />-->
    <add name="AdminBDConnectionString" connectionString="Data Source=192.168.0.46;Initial Catalog=AdminBD;User ID=report;Password=159951" providerName="System.Data.SqlClient"/>
    <add name="LOConnectionStringAPR" connectionString="Data Source=10.21.168.42;Initial Catalog=LO;User ID=report;Password=159951" providerName="System.Data.SqlClient"/>
    <add name="LOConnectionStringAPR2" connectionString="Data Source=10.21.168.42;Initial Catalog=LO;User ID=report;Password=159951" providerName="System.Data.SqlClient"/>
    <add name="LOConnectionStringAPR3" connectionString="Data Source=10.21.168.42;Initial Catalog=LO;User ID=report;Password=159951" providerName="System.Data.SqlClient"/>
    <add name="LOConnectionStringAPR4" connectionString="Data Source=10.21.168.42;Initial Catalog=LO;User ID=report;Password=159951" providerName="System.Data.SqlClient"/>
    <add name="PingConnectionString" connectionString="Data Source=10.21.168.42;Initial Catalog=log;User ID=log;Password=159951" providerName="System.Data.SqlClient"/>
    <add name="PingStatusConnectionString" connectionString="Data Source=10.21.168.42;Initial Catalog=log;User ID=log;Password=159951" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="ChartImageHandler" value="storage=file;timeout=20"/>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
    
  </appSettings>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <remove name="ChartImageHandler"/>
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    </handlers>
    <security>
      <!--<ipSecurity allowUnlisted="false" denyAction="NotFound">
        <clear/>
        <add ipAddress="10.21.179.0" subnetMask="255.255.252.0" allowed="true"/>
        <add ipAddress="192.168.0.0" subnetMask="255.255.252.0" allowed="true"/>
      </ipSecurity>--> 
    </security>
  </system.webServer>
  <system.web>
    <httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
    </httpHandlers>
    <pages>
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </controls>
    </pages>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Management.Instrumentation, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      
    </authentication>
  </system.web>
  
</configuration>